Babel==2.9.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
confusable-homoglyphs==3.2.0
cryptography==3.4.7
dataclasses==0.6
Django==2.2
django-cors-headers==3.7.0
django-debug-toolbar==3.2
django-extensions==3.1.1
django-geoip2-extras==1.2.1
django-ipware==2.1.0
django-phonenumber-field==5.0.0
django-redis==4.12.1
django-registration==3.1.2
django-rest-framework==0.1.0
django-sslserver==0.22
django-tracking==0.2.7
django-user-agents==0.4.0
django-user-sessions==1.7.1
djangorestframework==3.12.4
djongo==1.2.23
geoip2==3.0.0
htmlmin==0.1.12
idna==2.10
maxminddb==2.0.3
memcache==0.4.0
phonenumbers==8.12.20
Pillow==8.2.0
psycopg2==2.8.6
pycparser==2.20
pymongo==3.11.3
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-env-utils==0.4.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
six==1.15.0
sqlparse==0.2.4
ua-parser==0.10.0
urllib3==1.26.4
user-agents==2.2.0
Werkzeug==1.0.1
whitenoise==5.2.0
