{% extends "registration/base.html" %}

{% load static i18n %}

{% block title %}
    Compte | APOS
{% endblock %}

{% block content %}
    <center>
        <div id="con-form" style="min-width: 50%">
            <h4 style="font-family: Roboto, serif; color: #000; font-weight: 900; font-size: 25px">Bienvenue</h4>
            <hr style="border: 1px solid #ccc">
            <h5 style="font-size: 17px; font-family: 'Roboto', serif">
                <b style="font-weight: 600; color: #009866;">A</b>
                <b style="font-weight: 600; color: #ff0000;">P</b>
                <b style="font-weight: 600; color: #ffab00;">O</b>
                <b style="font-weight: 600; color: #000;">S</b>
            </h5>

            <center>
                <div class="rounded-circle p-2 mt-3" style="border: 2px solid #4a148c; max-width: 50px">
                    <b class="ion ion-android-happy fa-2x"></b>
                </div>
            </center>
            <br/>
            Votre compte a été enregistré avec succès. Bien vouloir consulter vos mails pour le procéssus d'activation
            (Le lien expire dans 3 jours). Merci!
            <br><br/>

            <center><section class="but">
                <a href="{% url 'login' %}" style="color: #fff; font-size: 12px" class="btn btn-primary">Connexion</a>
            </section></center>

        </div>
    </center>
{% endblock %}