{% extends "mail/base.html" %}

{% load i18n %}

{% block head %}
    Mon compte APOS
{% endblock %}

{% block main %}
    {% autoescape off %}

        <div style="border-radius: 10px; border: 2px solid #ccc; padding: 15px; color: #444;">
            <center>
                <img src="{{ scheme }}://{{ site }}/static/Account/img/favicon.jpg" width="200" href="200" style="margin: 20px 0 20px 0">
            </center>
            <br/><br/>

            {% blocktrans %}
                Vous recevez ce mail car vous avez demandé pour la restauration de votre compte sur le site APOS.org.
            {% endblocktrans %}

            {% trans "<b>Ce lien est valide pour une journée</b>. Cliquez ici pour définir un nouveau mot de pass:" %}
            {% block reset_link %}
                <a style="color: #4a148c; text-decoration: none" target="_blank" href="{{ scheme }}://{{ site }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    <b>Lien</b>
                </a>
            {% endblock %}<br>
            {% trans "Votre nom d'utilisateur en cas d'oubli est:" %} <b>{{ user.get_username }}</b>
            <br/><br/>

            {% blocktrans %}
                Si vous rencontrez un quelconque problème, veuillez nous contacter via ce lien:
            {% endblocktrans %}
            <a style="color: #4a148c; text-decoration: none"
               href="{{ scheme }}://{{ site }}/contact/" target="_blank">Contactez APOS</a>
            <br><br>
            {% trans "Merci d'utiliser notre site!" %}
            <br>
        </div>

    {% endautoescape %}
{% endblock %}
