@import url('index.css');

#con-form{
    overflow: auto;
    padding: 3% 2% 3% 2%;
    text-align: center;
    margin-top: 5%;
    max-width: 30%;
    min-width: 30%;
    border-radius: 7px;
    border: 2px solid #ccc;
    min-height: 70%;
    max-height: 70%;
}

#email, #password{
    width: 75%;
}

#coba{
    text-align: center;
}

.but{
    display: inline-flex;
}

#rec{
    font-weight: 900;
    position: relative;
    top: 30px;
}
#cre{
    font-weight: 900;
    position: relative;
    top: 30px;
    left: 50px;
}
@media (max-width: 991px) {
    .but{
        display: block;
    }
    #rec{
        position: relative;
        top: -15px;
        left: 10px;
    }
    #cre{
        position: relative;
        top: 25px;
        left: 20px;
    }
    .but > button{
        position: relative;
        left: -15px;
    }
    #email, #password{
        width: 75%;
    }
    #con-form{
        max-width: 70%;
        min-width: 70%;
        margin-top: 35%;
    }
}

footer{
    color: #ccc;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
input {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 78%;
    margin: 10px;
}

/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
}
* html pre {
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
}
